.banner {
  background-image: url("https://source.unsplash.com/random/1000x500");
  background-size: cover;
  color: white;
  padding: 120px 0;
  height: 200px;
  text-align: center;
}

.banner h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 38px;
}

.banner h2 {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 30px;
}

.container {
  margin: 50px auto;
  width: 700px;
}

.container h3 {
  font-family: 'Montserrat', sans-serif;
  color: #A0A0A0;
  font-weight: normal;
  font-size: 1.5em;
}

.container p {
  font-family: 'Lora', serif;
  color: #494949;
  font-size: 18px;
}

.container a {
  font-style: italic;
  font-weight: lighter;
  text-decoration: none;
  font-size: 25px;
  color: #494949;
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
}

.container a:hover {
  background-image: linear-gradient(to bottom, rgba(121, 247, 179, 1), rgba(121, 247, 179, 1));
}

body {
  margin: 0;
}

@media (max-width: 1200px) {
  .container {
    width: 900px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 300px;
  }
}
